body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.is-light {
  background-color: #f1f5f9;
  color: #212529;
}

.is-dark {
  background-color: #212529;
  color: #f1f5f9;
}

.temaWhite {
  background-color: #f1f5f9;
  color: black;
}

.temaBlack {
  background-color: #212529;
  color: white;
}

img {
  float: left;
  height: 300px;
  width: 300px;
  padding-right: 80px;
  border-radius: 20px;
}


input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#planoDeFundo {
  position: fixed;
  top: 10px;
  right: 40px;
}

#outAccountList {
  font-size: 20px;
}

#outTotal {
  font-size: 15px;
}

/* #outAccountList {
  position: fixed;
  top: 80px;
  right: 80px;
} */



button {
  background-color: rebeccapurple;
  border: none;
  border-radius: .25rem;
  font-weight: 700;
  padding: .5rem 1rem;
  transition: .15s;
  color: white;
}

#btnClearList {
  background-color: rgb(196, 14, 14);
}


button,
span {
  cursor: pointer;
}

.vermelho {
  color: red;
  font-style: italic;
  font-weight: bold;
}

hr {
  height: 2px;
  width: 50%;
  /* Largura do hr */
  background-color: rebeccapurple;
  /* Cor de fundo do hr */
  border: none;
  margin: 20px auto;
  /* Margem superior e inferior do hr e centralizado horizontalmente */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  /* Sombra */
}


h3 {
  color: red;
}

h4 {
  padding: 0px;
  margin: 0px;
  /* display: inline; */
}

span {
  font-size: 20px;
  margin-bottom: 5px;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

span:hover {
  transform: scale(1.1);
}

nav {
  background-color: rebeccapurple;
  height: 50px;
  display: flex;
  justify-content: center;
}